body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(#f4df62,#c2a53a );
    font-family: 'Agbalumo',sans-serif;
}

header{
    background: linear-gradient(#f4df62, #c2a53a);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 2% 5%;
    color: #403b3b;
    font-weight: bold;
}
header div{
    height: auto;
    width: auto;
    flex-grow: 1;
    padding-left: 5%;
}
header img{
    height: 90%;
    width:auto;
}
.mandm{
    font-size: 3rem;
}
menu{
    display: flex;
    margin-bottom: 0px;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    
}
menu li{
    border-right: solid 2px #ffffff;
    padding: 0 2%;
}
menu li:last-of-type{
    border-right: none;
}
menu>li>a{
    color: #4f4b4b;
    font-weight: bold;
}
menu>li>a:hover {
    color: red; 
  }

.description{
        text-align: center;
        padding: 2em;
        position: relative;
        width: 100%;
        box-sizing: border-box;
}
.image-with-shadow {
    transition: box-shadow 0.5s ease; 
}
.image-with-shadow:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
}




footer {
    background: #333;
    color: #fff;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.left-content,
.right-content {
    flex: 1; 
}
.logo img {
    width: 100px;
}

.company-info {
    text-align: center;
}

.contact-form {
    text-align: center;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    margin: 5px 0;
    padding: 8px;
}
